<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" use-expressions="true" access-denied-page="/negado.jsf">
		<form-login login-page="/pages/login/paginas/login.jsf"
			authentication-failure-url="/pages/login/paginas/login.jsf?erro=true" />
	
		<intercept-url pattern="/pages/login/paginas/login.jsf" access="permitAll" />
		<intercept-url pattern="/pages/index.jsf" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/index.jsp" access="isAuthenticated()" />
		<intercept-url pattern="/pages/modCelular/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/modSeguranca/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/javax.faces.resource/**" access="permitAll"/>
		<intercept-url pattern="/resources/**" access="permitAll"/>
		<intercept-url pattern="/**" access="denyAll" />
			
	</http>


	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="myDataSource"
				users-by-username-query="
					SELECT login as username, senha as password, 'true' as enable FROM usuarios 
					WHERE login=?"
				authorities-by-username-query="
					SELECT u.login as username, m.nome as authority FROM usuario_modulo as um 
					inner join modulos as m on m.idModulos = um.idModulos 
					inner join usuarios as u on u.idUsuarios = um.idUsuarios
					where u.login=?" />
		</authentication-provider>
	</authentication-manager>

</b:beans>
